<?xml version="1.0"?>
<config>
    <modules>
        <Uecommerce_SecurityRedirect>
            <version>0.1.0</version>
        </Uecommerce_SecurityRedirect>
    </modules>
    <global>
        <models>
            <uecommerce_securityredirect>
                <class>Uecommerce_SecurityRedirect_Model</class>
            </uecommerce_securityredirect>
        </models>
        <helpers>
            <uecommerce_securityredirect>
                <class>Uecommerce_SecurityRedirect_Helper</class>
            </uecommerce_securityredirect>
        </helpers>
        <blocks>
            <uecommerce_securityredirect>
                <class>Uecommerce_SecurityRedirect_Block</class>
            </uecommerce_securityredirect>
        </blocks>
        <events>
            <controller_front_init_before>
                <observers>
                    <uecommerce_securityredirect>
                        <class>uecommerce_securityredirect/observer</class>
                        <method>checkAndRedirect</method>
                    </uecommerce_securityredirect>
                </observers>
            </controller_front_init_before>
        </events>
    </global>
    <adminhtml>
        <events>
            <admin_user_authenticate_after>
                <observers>
                    <uecommerce_securityredirect_checkpath>
                        <class>uecommerce_securityredirect/observer</class>
                        <method>checkAdminPath</method>
                    </uecommerce_securityredirect_checkpath>
                    <uecommerce_securityredirect_checkvulnerablefiles>
                        <class>uecommerce_securityredirect/observer</class>
                        <method>checkVulnerableFiles</method>
                    </uecommerce_securityredirect_checkvulnerablefiles>
                </observers>
            </admin_user_authenticate_after>
        </events>
        <translate>
            <modules>
                <uecommerce_securityredirect>
                    <files>
                        <default>Uecommerce_SecurityRedirect.csv</default>
                    </files>
                </uecommerce_securityredirect>
            </modules>
        </translate>
    </adminhtml>
    <default>
        <dev>
            <uecommerce_securityredirect>
                <active>1</active>
                <url_paths><![CDATA[a:1:{s:6:"routes";a:5:{i:0;s:0:"";i:1;s:17:"/rss\/order\/new/";i:2;s:22:"/rss\/catalog\/review/";i:3;s:27:"/rss\/catalog\/notifystock/";i:4;s:12:"/downloader/";}}]]></url_paths>
            </uecommerce_securityredirect>
        </dev>
    </default>
</config>